.upperdiv img {
    height: 10rem;
    width: 100%;
}

.explore-box-container {
    text-align: center;
    align-items: center;
    width: 30rem;
    border: 2px solid black;
    margin: 1rem;
    padding-bottom: 2rem;
    cursor: pointer;
}

.circle-img {
    height: 5rem;
    width: 5rem;
    border-radius: 5rem;
    border: 5px solid white;
}

.artist-content {
    position: relative;
    margin-top: -3rem;
}