.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: 1.1rem;
}

.left-header {
    display: flex;
    align-items: center;
}

.header a {
    color: black;
    text-decoration: none;
}

.logo {
    font-size: 1.5rem;
}
.logo span {
    font-weight: bold;
    cursor: pointer;
    /* font-size: 1.2rem; */
}

.nav-option {
    display: flex;
    list-style: none;
    margin-left: 4rem;
}

.nav-option li {
    margin: 0 1rem;
    cursor: pointer;
}

.connect-wlt {
    padding: .5rem 1rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    color: white;
    background-color: black;
    outline: none;
    border: none;
    cursor: pointer;
}