.head-dis {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.greenbox {
    background-color: #CCFF3C;
    height: 3rem;
    width: 8rem;
    margin-top: 2.5rem;
    margin-left: -6.5rem;
    z-index: -2;
}

.head-dis h2 {
    font-size: 4rem;
}

.nav-dis {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    font-size: 2rem;
    font-weight: 600;
}

.nav-dis li {
    margin-top: 2rem;
    padding-top: 3rem;
    margin: 0 4rem;
    cursor: pointer;
    justify-content: center;
}